.places {
    font-size: 30px;
    float: left;
    width: 100%;
}

.places h1 {
    text-align: left;
    font-size: 30px;
    width: 100%;
}

.places article {
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
}

.places article h2 {
    text-align: center;
    font-size: 30px;
}